<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full-Stack Java QAP2 Example</title>
  </head>
  <body>
    <h1><b>This is a Index Page</b></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. At unde atque
      error explicabo, dolorum facere quod non quos! Suscipit, molestias
      perspiciatis! Modi aperiam autem nostrum sit ullam vel adipisci
      exercitationem.
    </p>
  </body>
</html>
